@font-face {
  font-family: "Zaychik";
  src: url("../fonts/Zaychik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Type-Machine";
  src: url("../fonts/Type-Machine.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FDMedian";
  src: url("../fonts/fdmedian.ttf") format("truetype");
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  border: none;
  cursor: pointer;
}
.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  font-family: "Zaychik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
.container {
  max-width: 1561px;
  width: 100%;
  margin: 0 auto;
}
section {
  background: #fff;
}
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}
.header__wrapper {
  max-width: 1872px;
  width: 100%;
  height: 106px;
  background: #f1f1f1;
  border-radius: 23px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 95px;
  padding-right: 87px;
  box-sizing: border-box;
  position: relative;
}
.header__title {
  font-weight: 400;
  font-size: 200px;
  line-height: 220px;
  color: #ff0000;
  position: absolute;
  top: 60px;
  left: 415px;
  z-index: 2;
}
.header__logo {
  display: block;
  width: 44px;
  height: 81px;
}
.header__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*---promo---*/
.promo {
  width: 100%;
  background: linear-gradient(0deg, #ffffff 0%, #dddddd 44.45%, #c6c6c6 100%);
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 113px;
}
.header__link {
  font-family: "Type-Machine", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 39.08px;
  color: #000;
}
.promo__wrapper {
  display: flex;
  align-items: center;
}
.promo__image {
  width: 404px;
  height: 530px;
  margin: 144px auto 42px;
  position: relative;
}
.promo__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.promo__title {
  font-weight: 400;
  font-size: 200px;
  line-height: 220px;
  color: #ff0000;
  position: absolute;
  top: -71px;
  left: -268px;
}
.promo__subtitle {
  font-weight: 400;
  font-size: 100px;
  line-height: 1100px;
  color: #000;
  position: absolute;
  top: -2px;
  right: -138px;
}
/*---info---*/
.info {
  width: 100%;
}
.info__wrapper {
  padding-top: 53px;
  padding-bottom: 63px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 51px;
}
.info__top {
  display: flex;
  justify-content: space-between;
}
.info__text {
  display: flex;
  flex-direction: column;
  gap: 96px;
  max-width: 380px;
  width: 100%;
}
.info__title {
  font-weight: 400;
  font-size: 60px;
  line-height: 66px;
  color: #000;
}
.info__title span {
  color: #ff0000;
}
.info__subtitle {
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
  color: #000;
  text-align: justify;
}
.info__image {
  width: 443px;
  height: 445px;
  margin-top: 288px;
  position: relative;
}
.info__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.info__font {
  font-family: "FDMedian", sans-serif;
  font-weight: 400;
  font-size: 100px;
  line-height: 94.1px;
  color: #00000040;
  position: absolute;
  bottom: 30px;
  left: -402px;
}
.info__all {
  width: 100%;
  display: flex;
  padding-top: 19px;
  padding-bottom: 46px;
  box-sizing: border-box;
  border: 1px solid #000000;
}
.info__all-aside {
  width: 315px;
  display: flex;
  flex-direction: column;
  padding-left: 69px;
  box-sizing: border-box;
  border-right: 1px solid #000000;
}
.info__all-key {
  font-family: "Type-Machine", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 46.9px;
  color: #000;
}
.key-one {
  margin-top: 32px;
}
.key-two {
  margin-top: 16px;
}
.info__all-main {
  display: flex;
  flex-direction: column;
  padding-left: 75px;
  box-sizing: border-box;
}
/*---skills---*/
.skills {
  width: 100%;
}
.skills__wrapper {
  padding-top: 68px;
  padding-bottom: 305px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.skills__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
}
.skills__title {
  font-family: "FDMedian", sans-serif;
  font-weight: 400;
  font-size: 100px;
  line-height: 94.1px;
  color: #00000040;
}
.skills__software {
  display: flex;
  align-items: center;
  gap: 30px;
}
.skills__soft {
  filter: grayscale(100%);
}
.skills__soft img {
  width: auto;
  height: auto;
}
.skills__centr {
  display: flex;
  flex-direction: column;
  margin-top: 207px;
}
.skills__subtitle {
  font-family: "Type-Machine", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 75.04px;
  color: #000;
  text-align: center;
  margin-top: 20px;
}
.centr-title {
  text-align: right;
  margin-top: 127px;
}
.skills__items {
  display: flex;
  flex-direction: column;
  gap: 65px;
  margin-top: 93px;
}
.skills__link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding: 112px 143px 112px 75px;
  box-sizing: border-box;
}
.skills__number {
  font-family: "FDMedian", sans-serif;
  font-weight: 400;
  font-size: 100px;
  line-height: 94.1px;
  color: #000;
}
.skills__text {
  display: flex;
  align-items: center;
  gap: 90px;
}
.skills__work {
  font-weight: 400;
  font-size: 50px;
  line-height: 55px;
  color: #000;
}
.skills__icon {
  width: 195px;
}
/*---footer---*/
.footer {
  width: 100%;
}
.footer__wrapper {
  height: 155px;
  margin: 0 24px 38px 24px;
  background: #f1f1f1;
  border-radius: 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 180px;
  padding-right: 115px;
  box-sizing: border-box;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 42px;
}
.footer__text {
  font-family: "Type-Machine", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25.01px;
  color: #000;
  margin-right: 30px;
}
.footer__social {
  display: flex;
  align-items: center;
}
.footer__social a {
  transition: all 0.3s ease-out;
}
.footer__social a:hover {
  opacity: 0.5;
}
.footer__icon {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 15px;
}
.footer__icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer__title {
  font-family: "Zaychik", sans-serif;
  font-weight: 400;
  font-size: 180px;
  line-height: 198px;
  color: #ff0000;
  margin-top: 30px;
}
.footer__adress {
  display: flex;
  flex-direction: column;
  gap: 26px;
  text-align: right;
}
/*---task---*/
.task {
  width: 100%;
  display: flex;
  background: linear-gradient(0deg, #ffffff 0%, #dddddd 44.45%, #c6c6c6 100%);
}
.task__wrapper {
  display: flex;
  padding-top: 384px;
  padding-bottom: 104px;
  box-sizing: border-box;
}
.task__title {
  margin-top: 123px;
  font-family: "Type-Machine", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 62.53px;
  color: #000;
}
.task__top {
  display: flex;
}
.task__inner {
  width: 1076px;
  height: 625px;
  margin-right: 83px;
}
.task__inner img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/*---task-info---*/
.task-info {
  width: 100%;
}
.task-info__wrapper {
  padding-top: 102px;
  padding-bottom: 292px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.task-info__inner {
  width: 100%;
  display: flex;
  padding-top: 19px;
  padding-bottom: 46px;
  box-sizing: border-box;
  border: 1px solid #000000;
}
.task-info__inner-aside {
  width: 315px;
  display: flex;
  flex-direction: column;
  gap: 280px;
  padding-left: 0;
  padding-top: 122px;
  padding-bottom: 76px;
  box-sizing: border-box;
  border-right: 1px solid #000000;
  margin: 0 30px;
  padding-right: 30px;
}
.task-info__inner-main {
  display: flex;
  flex-direction: column;
  gap: 280px;
  padding-left: 85px;
  padding-top: 122px;
  padding-bottom: 76px;
  box-sizing: border-box;
}
.task-info__inner-key {
  font-family: "Type-Machine", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 46.9px;
  color: #000;
  text-align: center;
}
.task-info__main-key {
  font-family: "Type-Machine", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 46.9px;
  color: #000;
}
.task-info__further {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-family: "Type-Machine", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 46.9px;
  color: #000;
  align-self: flex-end;
  margin-top: 104px;
  transition: all 0.3s ease-out;
}
.task-info__further:hover {
  opacity: 0.5;
}
.task-info__further img {
  width: auto;
  height: auto;
}
.still {
  display: flex;
  flex-direction: column;
  gap: 155px;
  margin-top: 148px;
}
.task-info-inner {
  display: flex;
  flex-direction: column;
  padding-left: 121px;
  box-sizing: border-box;
}
.task-info-select {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.task-info-select li {
  font-family: "Type-Machine", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 39.08px;
  color: #000;
  display: flex;
  align-items: center;
  gap: 61px;
  cursor: pointer;
}
.task-info-select li span {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #000000;
  background: #ffffff;
}
.task-info-select li.active span {
  background: gray;
  border: 1px solid gray;
}
.skills__page {
  max-width: 1264px;
  width: 100%;
  height: 753px;
  margin: 159px auto 0;
  display: none;
}
.skills__page.active {
  display: block;
}
.skills__page img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
